.banner{
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 120px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
    &__video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__content{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white-color;
        font-size: 3.2rem;
        text-align: center;
        line-height: 1.5;
        font-family: $font-title;
        width: 60%;
        padding: 0 16px;
    }
}